.container {
  display: flex;
  flex-direction: row;
  background-color: azure;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.logo{
  border-radius: 50%;
  width: 4rem;
  padding-top: 0;
  margin-left: 0.5em;
  margin-right: 1em;
  }

.menu {
  margin-right: 2rem;
  word-spacing: 1.5rem;
  text-align: end;
}

.menu a {
color: var(--blue-dark);
}

.menu a:hover {
  color: #02ACE5;
}