.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.title {
  font-family: "Pixelify Sans";
  text-align: center;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 2rem;
}

.carroussel {
  display: flex;
  width: 30rem;
  margin-top: 2rem;
}

.carrousselImage {
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 2px 2px;
  margin: 2px 2px 2px 2px;
}

.buttonCarruselRight {
  width: 25rem;
  background-position: center;
  border: none !important;
  background-color: var(--background);
}

.buttonCarruselRight:hover {
  font-size: 1rem;
}

.img {
  width: 3em;
}

.buttonCarruselLeft {
  width: 25rem;
  background-position: center;
  border: none !important;
  background-color: var(--background);
}

.buttonCarruselLeft:hover {
  font-size: 1rem;
}
